$green: #82B964;
$blue: #4090BA;
$red: #E13E06;
$offwhite: #F0F0ED;
$bodyTextColor: #000;
$linkTextColor: #e06e47;
//8C494F
$headerbackground: #4B718C;

$proxima: "proxima-nova-condensed",helvtetica, sans-serif;
$tisa: "ff-tisa-web-pro",serif;

$gotham: 'Gotham Narrow A', 'Gotham Narrow B', sans-serif;
$mercury: 'Mercury SSm A', 'Mercury SSm B', serif;

$whitney: 'Whitney A', 'Whitney B', sans-serif;

$font_header: $gotham;
$font_body: $whitney;